:root {
    --primary-light: #39ddfa;
    --primary: #00abdf;
    --primary-dark: #008ada;
    
    --white: #FFFFFF;
    --greyLight-1: #ebf5fc;
    --greyLight-2: #d5e0f3;
    --greyLight-3: #c1d9f0;
    --greyDark: #646b8c;
  }


.data-container{
    min-height: 100vh;
}
.data_card_container {
    max-height: 80vh;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    background-color: #e1e1e1;
    padding: 2rem;
    font-family: "Poppins", sans-serif !important;
}

//////////////////////

 .circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-weight: 900;
  font-size: 30px;
  color: #231c3d;
}
.circular_card{
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
    display: grid;
    place-items: center;
}
.title_circle_card{
    font-weight: 300;
    font-size: 20px;
}