.playlistZone {
	width: 100%;
	height: 87.8%;
	max-height: 100vh;
	background-color: #222327;
	position: absolute;
	left: -100%;
	top: 150px;
	z-index: 12;
	transition: 0.3s all;
	overflow: hidden;
	overflow-y: scroll;
}

.playlistZone::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.playlistZone::-webkit-scrollbar-track {
	//background: #f1f1f1;
	border-radius: 20px;
}

/* Handle */
.playlistZone::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}

/* Handle on hover */
.playlistZone::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.playlistZone.active {
	left: 0;
}
.hd_playlist_zone {
	padding: 20px;
	text-transform: uppercase;
	color: #fff;
}
.playlists_render {
	padding: 200px 15px;
	height: 100%;
	display: grid;
	justify-content: center;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	.playlist_item {
		text-align: center;
		align-self: center;
		//background-color: red;
		font-family: "Poppins", sans-serif;
		font-weight: bolder;
		font-size: 25px;
		//background: #17202A;
		// border-radius: 30px;
		color: #fff;
		transition: 0.3s ease-in-out;
		&:hover {
			cursor: pointer;
			color: $MAIN_RED_COLOR;
			transform: translateY(-20px);

			.count_content {
				//transform: translateY(-100px);
				animation: bounce-in-bottom 0.8s both;
			}
		}
	}
}

.icon_playlist {
	//background:green;
}
.swiper {
	width: 100%;
	height: 100%;
}

.wrapper_playlist_item {
	position: relative;
	.count_content {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #fff;
		color: $MAIN_RED_COLOR;
		transition: 0.3s all;
		position: absolute;
		left: -15px;
		top: 50px;
	}
}

.content_item {
	color: #fff;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
	&:hover {
		cursor: pointer;
		color: $MAIN_RED_COLOR;
		background-color: #fff;
	}
}
.content_item.playing-track {
	color: $MAIN_RED_COLOR;
	background-color: #fff;
}
.content_current_playlist_render {
	//padding: 0 15px;
	// display:grid;
	// grid-template-columns: repeat(2,1fr);
	// justify-content: center;
	// align-items: center;
	.play_current_content {
		display: grid;
		justify-content: center;
	}
	.ext_content_item {
		display: grid;
		justify-content: center;
	}
}

.wrapper_content_item {
	margin-bottom: 40px;
}

.pagination_current_playlist {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	div {
		margin-right: 20px;
		&:hover {
			cursor: pointer;
			color: $MAIN_RED_COLOR;
		}
	}
}
.playing-playlist-name {
	padding: 20px;
	font-size: 25px;
	color: $MAIN_RED_COLOR;
	font-family: "Poppins", sans-serif;
	font-weight: 800;
}

.current_and_total_pages_playlist{
	letter-spacing: 2px;
}